html, body {
    font-family: 'barlow condensed', sans-serif;
    font-size: .95rem;
    margin:0;
    height: 100vh;
    width: 100vw;
    display:flex;
    justify-content: center;
   
}


table, td, th {
    border-collapse: collapse;
    background: rgba(255, 255, 255, 0.85);
    padding: 0px 20px;
    text-align: left;
    white-space: nowrap;
    vertical-align: text-top;
    
}


.container {
display:flex;
justify-content: center;
align-items: center;
background-image: url("pic5.jpg");
background-position:center;
background-repeat: no-repeat;
background-size: cover;
min-width: 50%;
height: auto;
margin: 0;

}



.menu_container {
min-height: auto;
display: flex;
flex-direction: column;
justify-content: center;
margin: 0;
flex: 0 1 0;
}



.menu_header {
    font-family: 'rouge script', cursive;
    text-align: center;
    font-size: 1.3rem;
    padding-top:40px;
    margin: 0px;
    
}


.menu_titles {
    padding-top: 40px;
    font-family: "comfortaa";
    font-weight: light;
    font-size: 1.2rem;

}


.body_desserts.last_row {
    padding-bottom: 10px;
}

.price_column {
    width: 15px;
}

.last_row {
    padding-bottom: 60px;
}



.bottom_logo {
    
    color: white;
    background-color: #fcbf49;
    text-align: center;
    font-size: 1.4rem;
    border-radius: 2em / 5em;    
    position:relative;
    margin: auto;
    margin-top: -20px;
    width: 180px;
    height: 60px;
       
}
