html, body {
    font-family: 'barlow condensed', sans-serif;
    font-size: .9rem;
    margin:0;
    height: 100vh;
    width: 100vw;
    display:flex;
    justify-content: center;
 
   
}
table {
    border-collapse: collapse;
    background: rgba(255, 255, 255, 0.85);
 
    
}

td, th {
    padding: 5px;
    text-align: left;
    white-space: nowrap;
    vertical-align: text-top;
}

td {
  cursor: pointer;
}


.container {
display:flex;
justify-content: center;
align-items: center;
background-image: url("https://images.pexels.com/photos/6495872/pexels-photo-6495872.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
background-position:center;
background-repeat: no-repeat;
background-size: cover;
width: 50%;
height: 100%;
margin: 0;
cellspacing: 0px;

}



.menu_container {
width: auto;
max-height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
margin: 0;
position: relative;
}



.menu_header {
    font-family: 'rouge script', cursive;
    text-align: center;
    font-size: 1.3rem;
    padding-top:40px;
    margin: 0px;
    
}


.menu_titles {
    padding-top: 40px;
    font-weight: light;
    font-size: 1.2rem;
}

.price_column {
  width: 30px;
  cursor: pointer;
}

.last_row {
    padding-bottom:60px;
}



.bottom_logo {
 
    color: white;
    background-color: #fcbf49;
    text-align: center;
    font-size: 1.4rem;
    border-radius: 2em / 5em;
 
    bottom: -5%;
    margin-left: 50%;
    margin-right: 50%;
    left: -20%;
    width: 180px;
    height: 60px;
    position: absolute;
       
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  height: 80px;
  margin: 30% auto;
  min-width: 15%;
  background-color: #f1faee;
  box-shadow: 1px 5px 8px 2px rgba(0,0,0,0.5); 
  animation-name: modalopen;
  animation-duration: 2s;
}

@keyframes modalopen {
  from{opacity: 0}
  to {opacity: 1}
}